<form action='/students' method="POST">
  <label for="first_name">First name:</label>
    <input id="first_name" type="text" name="first_name" required/>

  <label for="second_name">Second name:</label>
    <input id="second_name" type="text" name="second_name" required/>

  <label for="age">Age:</label>
    <input id="age" type="number" name="age" required/>

  <label for="House">House:</label>
  <select id="house" name="house_id">
    <% for house in @houses %>
      <option value="<%= house.id %>">
          <%=  house.name() %>
      </option>
    <% end %>
  </select>

  <input type='submit' value="Apply"/>
</form>
